.cajagrandeizq {
    background-color: #2B2E4A;
}

.imagengrande {
    height: 500px;
    width: 420px;
}

.imagenchica {
    height: 110px;
    width: 200px;
}

.volverinicio {
    font-size: 35px;
    color: #E84545;
}

.h100{
    height: 100%;
}

.carruseljuego{
    width: 70%;
}

.w-40 {
    width: 40%;
}

.imagencarrousel{
    height: 20vh;
}
@media (max-width: 770px){
    .volverinicio {
        font-size: 20px;
    }
}

@media (max-width: 991px){
    .carruseljuego{
        visibility: visible;
    }
    .galeriaseleccionar{
        visibility: hidden;
    }
    .cajagrandeizq{
        height: 35%;
    }
    .h100{
        height: 100%;
    }
}

@media (max-width: 770px){
    .cajagrandeizq{
        height: 30%;
    }

}

@media (min-width: 992px){
    .carruseljuego{
        visibility: hidden;
    }
    .galeriaseleccionar{
        visibility: visible;
    }
    .fixedtop {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}