.cajagrandeizq{
    background-color: #2B2E4A;
}

.imagengrande{
    height: 250px;
    width: 450px;
}

.imagenchica{
    height: 110px;
    width: 200px;
}

.volverinicio{
    font-size: 35px;
    color: #E84545;
}

.cajagrandeder{
    
}